<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>AT Bubble Soccer</title>
<meta name="description" content="AT Bubble Soccer">
<link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
<meta property="og:url" content="http://atbubblesoccer.ca" />
<meta property="og:image" content="img/1x/mobile-header.jpg" />
<link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>   
<link rel="stylesheet" href="css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">