.background {
	// background: #000 url('../img/zootopia-bg.jpg') top center no-repeat;
	@include breakpoint(medium) {
		background-size: 1520px;
	}
	@include breakpoint(small) {
		background-size: 1300px;
	}
	@include breakpoint(xsmall) {
		background-size: 1000px;
	}
	@include breakpoint(xxsmall) {
		background-size: 860px;
		background-position-x: 42%;
	}
}

.video {
	background-color: $black;
	z-index: 2010;
	width: 100%;
	position: relative;
	// padding-bottom: 56.25%; /* 16:9 */
	background: url('../img/1x/mobile-header.jpg') no-repeat;
	background-size: cover;
	height: 0;
	iframe, embed, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.controls {
		position: absolute;
		width: 100%;
		bottom: 10px;
		z-index: 101;
		text-align: center;
		pointer-events: none;
		.down-arrow {
			pointer-events: all;
			position: relative;
			// margin: 0 auto;
			cursor: pointer;
			display: inline-block;
		}
		.play-pause {
			cursor: pointer;
			pointer-events: all;
			background: url('../img/1x/play-pause-button.png') top center no-repeat;
			width: 24px;
			height: 24px;
			position: absolute;
			right: 70px;
			top: 6px;
			display: inline-block;
		}
		.sound {
			cursor: pointer;
			pointer-events: all;
			background: url('../img/1x/sound-on-off-button.png') top center no-repeat;
			width: 24px;
			height: 24px;
			position: absolute;
			right: 30px;
			top: 6px;
			display: inline-block;
		}
	}
}

#video_html5_api {
	width: 100%;
	height: 100%;
}

.video-dimensions {
	width: 100%;
	height: 100%;
}

// .video-js {padding-top: 56.25%}
// .vjs-fullscreen {padding-top: 0px}

.intro {
	font-size: 0;
	text-align: center;
	.hex-icon {
		display: block;
		margin: 0 auto;
		margin-bottom: 28px;
	}
	h1 {
		margin-bottom: 40px;
		@include breakpoint(small) {
			font-size: 1.3rem;
		}
	}
	h2 {
		margin-bottom: 30px;
		@include breakpoint(small) {
			font-size: 1.3rem;
		}
	}
	p {
		font-size: 1.5rem;
		color: $black;
		line-height: 1.4;
		padding: 0 10.5%;
		margin-bottom: 120px;
		a {
			color: $orange;
		}
		@include breakpoint(small) {
			font-size: 1rem;
			margin-bottom: 60px;
		}
	}
	.width-one-third {
		h2 {
			font-size: 1.5rem;
			margin-bottom: 28px;
		}
		p {
			font-size: 0.88rem;
		}
	}
}

.info {
	font-size: 0;
	text-align: left;
	.width-half {
		h2 {
			font-size: 1.5rem;
			margin-bottom: 28px;
		}
		p {
			font-size: 0.88rem;
		}
	}
	table {
		font-size: 1rem;
		width: 100%;
		line-height: 1.8;
		tr {
			td {
				width: 50%;
			}
		}
	}
	input, textarea {
		width: 100%;
		height: 38px;
		margin-bottom: 12px;
		font-size: 0.88rem;
		padding: 12px;
		color: $black;
		box-shadow: none;
		border: 1px solid $black;
		display: block;
		&[type="submit"] {
			width: auto;
			height: 38px;
			padding: 0px 20px;
			text-transform: uppercase;
			background-color: $white;
			border: 1px solid $orange;
			color: $orange;
			position: absolute;
			right: 0;
		}
	}
	textarea {
		text-align: left;
		height: 150px;
		line-height: 0.88rem;
	}
	@include placeholder {
	    color: $black;
	}
	form {
		position: relative;
		margin-bottom: 100px;
	}
	.contact-us {
		p {
			margin: 0;
			em {
				color: $orange;
				font-style: normal;
			}
			&:last-child {
				margin-bottom: 40px;
			}
		}

	}
	.pricing {
		font-size: 1rem;
		h3 {
			margin-bottom: 20px;
		}
		p {
			margin-bottom: 20px;
			line-height: 1.8;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-bottom: 24px;
			li {
				font-size: 0.88rem;
				line-height: 1.8;
			}
		}
	}
}
.map {
	width: 100%;
	height: 470px;
	margin-top: 60px;
	#map {
		width: 100%;
		height: 100%;
	}
}

.news {
	text-align: center;
	h2 {
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 40px;
		text-transform: none;
		display: block;
	}
	img {
		display: inline;
		margin: 16px;
	}
}

.charity {
	text-align: center;
	h2 {
		margin: 0 auto;
		margin-top: 60px;
		margin-bottom: 40px;
		text-transform: none;
		display: block;
	}
	img {
		display: inline;
		margin: 0 16px;
	}
}