.container.league {
	padding-top: 120px;
	background-color: $black;
	line-height: 1.6;
	.width-half {
		padding-right: 36px;
	}
	.white-wrapper {
		background-color: $white;
	}
	.intro {
		font-size: 0;
		text-align: left;
		.width-half {
			margin-bottom: 20px;
		}
		.hex-icon {
			margin: 20px 0;
		}
		h1 {
			text-align: left;
			&:after {
				left: 4px;
				margin-left: 0;
			}
		}
		p {
			font-size: 1rem;
			margin-bottom: 36px;
			padding: 0;
		}
	}
	p {
		margin: 10px 0;
	}
	a {
		color: $orange;
	}
	h3 {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}
	.rules {
		font-size: 0;
	}
	.bubble-soccer-rules {
		font-size: 0;
		margin-bottom: 20px;
		div {
			font-size: 1rem;
			margin-bottom: 20px;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				.number {
					margin-right: 20px;
					width: 16px;
					display: inline-block;
				}
				font-size: 1rem;
				margin: 20px 0;
				padding: 0;
				ul {
					list-style-type: disc;
					padding: 0 20px;
					margin: 20px 0;
					li {
						padding-left: 16px;
						margin:0;
					}
				}
			}
		}
	}
	.team-rules {
		font-size: 1rem;
		p {
			margin: 40px 0;
			strong {
				color: $orange;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		ul {
			padding-left: 20px;
			li {
				padding-left: 20px;
			}
		}
		input, textarea {
			width: 100%;
			height: 38px;
			margin-bottom: 12px;
			font-size: 0.88rem;
			padding: 12px;
			color: $black;
			box-shadow: none;
			border: 1px solid $black;
			display: block;
			&[type="submit"] {
				width: auto;
				height: 38px;
				padding: 0px 20px;
				text-transform: uppercase;
				background-color: $white;
				border: 1px solid $orange;
				color: $orange;
				position: absolute;
				right: 0;
			}
		}
		textarea {
			text-align: left;
			height: 150px;
			line-height: 0.88rem;
		}
		@include placeholder {
		    color: $black;
		}
		form {
			position: relative;
			margin-bottom: 100px;
		}

	}

}